.welcome-container{
    display:flex;
    margin-top:255px;
    margin-left: 200px;
    margin-bottom: 600px;
    justify-content: center;
    font-size: 25px;
}

.subContainer{
    align-self: center;
}